* {
  margin: 0;
  padding: 0;
}

.App {
  padding: 25px;

  .form {
    display: flex;
    flex-direction: column;

    input {
      margin: 5px 0;
      padding: 10px;
    }

    .btn {
      padding: 10px;
      width: 270px;
      border-radius: 10px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      background: aliceblue;

      &:hover {
        box-shadow: 2px 2px 9px 1px cornflowerblue;
      }
    }

    .errorMessage {
      color: red;
    }
  }

  .taskWrapper {
    display: flex;
    flex-wrap: wrap;

    .taskBlock,
    .taskBlockItem {
      padding: 10px;
      min-height: 250px;
      min-width: 200px;
      max-width: 200px;
      background-color: green;
      margin: 5px;
      border-radius: 10px;

      .taskHeader {
        display: flex;
        justify-content: space-between;

        .taskButtons {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
          max-height: 65px;
        }

        .taskTitle {
          width: calc(100% - 80px);
          overflow-wrap: break-word;
          color: white;
          letter-spacing: 0.1em;
        }

        .taskBlockBtn {
          padding: 3px 7px;
          border-radius: 8px;
          margin: 0 0 5px 3px;

          &:hover {
            background-color: brown;
            color: #fff;
          }
        }
      }

      .taskTime {
        margin: 10px 0;
        color: ghostwhite;
      }

      .taskDesc {
        overflow-wrap: break-word;
      }
    }

    .taskBlockItem {
      background-color: red;
    }
  }
}